
/*---------------------- VARIABLES -----------------------*/

$primary: #031A70;
$pink:    #A85698;
$cyan:    #66CCFF;
$grey:    #E1E1E1;

@font-face {
  font-family: 'Sofia Pro Medium';
  src: url(../fonts/Sofia\ Pro\ Medium\ Az.otf);
}

@font-face {
  font-family: 'Sofia Pro Light';
  src: url(../fonts/Sofia\ Pro\ Light\ Az.otf);
}

@font-face {
  font-family: 'Sofia Pro ExtraLight';
  src: url(../fonts/Sofia\ Pro\ ExtraLight\ Az.otf);
}

/* -----------------------------------  MAIN INFO  -------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Sofia Pro ExtraLight';
  font-weight: 300;
  color: #333;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-family: 'Sofia Pro ExtraLight';
  font-weight: 300;
  color: #333;
  font-size: 17px;
}


/* -----------------------------------

HEADINGS

-------------------------------------*/

h1,
h2,
h3 {
  font-family: 'Sofia Pro Medium';
  letter-spacing: 2px;
  color: $primary;
}

h4,
h5,
h6 {
  font-family: 'Sofia Pro Light';
  letter-spacing: 1px;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-family: 'Sofia Pro ExtraLight'
}

.text-body {
  color: #333;
}

.text-black {
  color: #000;
}

strong {
  font-weight: 500;
}

.letter-space {
  letter-spacing: 2px;
}


/* -----------------------------------

BACKGROUNDS

-------------------------------------*/

.bg-white {
  background: #fff;
}

footer {
  background-image: url(../img/Backgrounds/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  padding-top: 150px;
}

#section-strategy {
  width: 100%;
  height: auto;
  background-image: url(../img/Backgrounds/section_strategy_small.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.section-strategy-img {
  display: block;
  visibility: hidden;
  height: auto;
  width: 100%;
}


/* -----------------------------------

BODERS, SHADOWS, RADIUS AND OTHER

-------------------------------------*/

.border-bottom-pink {
  border-bottom: 2px solid #a8569888;
}

.rounded-lg {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}

.rounded-lg-top-left {
  border-top-left-radius: 15px;
}

.rounded-lg-top-right {
  border-top-right-radius: 15px;
}

.card {
  border: 0px solid #fff;
}

.hr-small {
  width: 80px;
  border-top: 2px solid $pink;
  margin: 0 auto;
}


/* -----------------------------------

POSITIONING

-------------------------------------*/

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}

/* -----------------------------------

MODALS

-------------------------------------*/

.modal-dialog {
  max-width: 1200px !important;
}

.modal {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.modal-dialog p {
  font-weight: 300;
}

.modal {
  scroll-behavior: smooth;
}

.close {
  font-weight: 300;
  font-size: 2rem;
}


/* -----------------------------------

HEADER

-------------------------------------*/

.header-background {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}


/* -----------------------------------

NAVBAR

-------------------------------------*/

.navbar-brand img {
  width: 60px;
}


/* -----------------------------------

BUTTONS

-------------------------------------*/

.btn {
	padding: 15px 50px;
	letter-spacing: 2px;
  font-size: 13px;
  min-width: 160px
}


/* -----------------------------------

FORMS

-------------------------------------*/

#email-us {
  overflow-x: hidden;
}

#emailForm {
  position: relative;
  z-index: 2;
}

.side-leaf1 {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 200px;
  top: 180px;
  left: -120px;
  background-image: url(../img/Graphical_elements/leaf1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.side-leaf2 {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 167px;
  top: 50px;
  right: -100px;
  background-image: url(../img/Graphical_elements/leaf2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.form-margin-negative {
  margin-top: -70px;
}

::placeholder {
  color: #ccc !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: #ccc !important;
}

::-ms-input-placeholder {
  color: #ccc !important;
}

.form-group input,
.form-group textarea,
.form-group select {
  border-width: 0 0 2px 0;
  border-color: $pink;
  border-radius: 0;
  color: $pink !important;
}

.form-control:focus {
  border-color: $pink;
  box-shadow: none;
}

/* -----------------------------------

POSITIONING

-------------------------------------*/

.card-padding-negative{
  margin-top: -20px;
  position: relative;
  z-index: 1;
}

/* -----------------------------------

ACTIONS

-------------------------------------*/

.white-hover {
  color: #fff;

  &:hover {
    color: $pink;
    transition-duration: .3s;
  }
}

.hover-dark {
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.123);
  }
}

a:hover {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

button:focus {
  outline: none;
}


/* -----------------------------------

SPINNER

-------------------------------------*/

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999999;
  }

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $pink;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* -----------------------------------

ANIMATIONS

-------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7 {
  opacity: 0;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-4 .animated,
.js--wp-5 .animated,
.js--wp-6 .animated,
.js--wp-7 .animated {
  opacity: 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.js--wp-1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.js--wp-2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.js--wp-3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.js--wp-4 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.js--wp-5 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.js--wp-6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.js--wp-7 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}


/* -----------------------------------

QUERIES

-------------------------------------*/

@media (min-width: 500px) {
  .card-text-margin {
    margin: 0 2rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-text-margin {
    margin: 0;
  }

  // h1,
  // h2,
  // h3 {
  //   opacity: .7;
  // }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  h1 {
    font-size: 1.8rem;
  }

  .text-positioning-title {
    top: 7%;
    left: 55%;
    padding-right: 10px;
  }
  
  .text-positioning-1 {
    top: 17.3%;
    left: 55%;
    padding-right: 10px;

    p {
      font-size: 0.82rem;
    }
  }
  
  .text-positioning-2 {
    top: 41.1%;
    left: 55%;
    padding-right: 10px;

    p {
      font-size: 0.82rem;
    }
  }
  
  .text-positioning-3 {
    top: 67.3%;
    left: 55%;
    padding-right: 10px;

    p {
      font-size: 0.82rem;
    }
  }
  
  .text-positioning-4 {
    top: 90.5%;
    left: 55%;
    padding-right: 10px;

    p {
      font-size: 0.82rem;
    }
  }

  .side-leaf1 {
    height: 250px;
    width: 250px;
    top: 180px;
    left: -170px;
  }
  
  .side-leaf2 {
    height: 250px;
    width: 210px;
    top: 50px;
    right: -150px;
  }

  footer {
    padding-top: 150px;
  }

  .nav-item a {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: .8rem;
  }

  .nav-item a:hover,
  .nav-item a:active {
    color: $cyan;
    transition-duration: .3s;
  }

  .position-md-absolute {
    position: absolute;
  }

  // .text-positioning-title {
  //   top: 4%;
  //   left: 52%;
  //   padding-right: 20px;
  // }

  // .text-positioning-1 {
  //   top: 7%;
  //   left: 52%;
  //   padding-right: 20px;
  // }
  
  // .text-positioning-2 {
  //   top: 28%;
  //   left: 52%;
  //   padding-right: 20px;
  // }
  
  // .text-positioning-3 {
  //   top: 49%;
  //   left: 52%;
  //   padding-right: 20px;
  // }
  
  // .text-positioning-4 {
  //   top: 70%;
  //   left: 52%;
  //   padding-right: 20px;
  // }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  .text-positioning-title {
    padding-right: 40px;
  }
  
  .text-positioning-1 {
    padding-right: 40px;

    p {
      font-size: 1rem;
    }
  }
  
  .text-positioning-2 {
    padding-right: 40px;

    p {
      font-size: 1rem;
    }
  }
  
  .text-positioning-3 {
    padding-right: 40px;

    p {
      font-size: 1rem;
    }
  }
  
  .text-positioning-4 {
    padding-right: 40px;

    p {
      font-size: 1rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  #section-strategy {
    background-image: url(../img/Backgrounds/section_strategy_big.png);
  }

  .text-positioning-title {
    top: 9%;
    left: 59%;
    padding-right: 60px;
  }

  .text-positioning-1 {
    top: 19.8%;
    left: 59%;
    padding-right: 60px;
  }
  
  .text-positioning-2 {
    top: 42.3%;
    left: 59%;
    padding-right: 60px;
  }
  
  .text-positioning-3 {
    top: 65%;
    left: 59%;
    padding-right: 60px;
  }
  
  .text-positioning-4 {
    top: 88%;
    left: 59%;
    padding-right: 60px;
  }

  .navbar-brand img {
    width: 80px;
  }
}

// Extra extra large devices (large desktops, 1300px and up)
@media (min-width: 1300px) {
  .text-positioning-title {
    padding-right: 120px;
  }

  .text-positioning-1 {
    padding-right: 120px;
  }
  
  .text-positioning-2 {
    padding-right: 120px;
  }
  
  .text-positioning-3 {
    padding-right: 120px;
  }
  
  .text-positioning-4 {
    padding-right: 120px;
  }
}